.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}

.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

.clearfix:after {
  clear: both;
}

article,
footer,
header,
nav,
section {
  display: block;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

a:hover,
a:active {
  outline: 0;
}

img {
  max-width: 100%;
  width: auto\9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  a[href^="#"]:after {
    content: "";
  }

  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

@page {
    margin: 0.5cm;
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

body {
  margin: 0;
  font-family: Arial,sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #fafafa;
}

a {
  color: #424242;
  text-decoration: underline;
}

a:hover,
a:focus {
  color: #F9A825;
  text-decoration: none;
}

[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 20px;
}

.container,
.navbar-fixed-top .container {
  width: 940px;
}

.span12 {
  width: 940px;
}

.row-fluid {
  width: 100%;
  *zoom: 1;
}

.row-fluid:before,
.row-fluid:after {
  display: table;
  content: "";
  line-height: 0;
}

.row-fluid:after {
  clear: both;
}

.row-fluid [class*="span"] {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%;
}

.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}

.row-fluid .span12 {
  width: 100%;
  *width: 99.94680851063829%;
}

.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}

.container:before,
.container:after {
  display: table;
  content: "";
  line-height: 0;
}

.container:after {
  clear: both;
}

p {
  margin: 0 0 10px;
}

.lead {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 200;
  line-height: 30px;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

h1,
h2,
h3 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: normal;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1,
h2,
h3 {
  line-height: 40px;
}

h1 {
  font-size: 38.5px;
}

h2 {
  font-size: 31.5px;
}

h3 {
  font-size: 24.5px;
}

.page-header {
  padding-bottom: 9px;
  margin: 20px 0 30px;
  border-bottom: 1px solid #eeeeee;
}

ul {
  padding: 0;
  margin: 0 0 10px 25px;
}

li {
  line-height: 20px;
}

address {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  line-height: 20px;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #999999;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999999;
}

.btn {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.nav {
  margin-left: 0;
  margin-bottom: 20px;
  list-style: none;
}

.nav>li>a {
  display: block;
}

.nav>li>a:hover,
.nav>li>a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

.navbar {
  overflow: visible;
  margin-bottom: 20px;
  *position: relative;
  *z-index: 2;
}

.navbar-inner {
  min-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  *zoom: 1;
}

.navbar-inner:before,
.navbar-inner:after {
  display: table;
  content: "";
  line-height: 0;
}

.navbar-inner:after {
  clear: both;
}

.navbar .container {
  width: auto;
}

.nav-collapse.collapse {
  height: auto;
  overflow: visible;
}

.navbar .btn {
  margin-top: 5px;
}

.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0;
}

.navbar-fixed-top .navbar-inner {
  border-width: 0 0 1px;
}

.navbar-fixed-top .navbar-inner {
  padding-left: 0;
  padding-right: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.navbar-fixed-top .container {
  width: 940px;
}

.navbar-fixed-top {
  top: 0;
}

.navbar-fixed-top .navbar-inner {
  -webkit-box-shadow: 0 1px 10px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 10px rgba(0,0,0,.1);
  box-shadow: 0 1px 10px rgba(0,0,0,.1);
}

.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 10px 0 0;
}

.navbar .nav>li {
  float: left;
}

.navbar .nav>li>a {
  float: none;
  padding: 10px 15px 10px;
  color: #777777;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
}

.navbar .nav>li>a:focus,
.navbar .nav>li>a:hover {
  background-color: transparent;
  color: #333333;
  text-decoration: none;
}

.navbar .nav>.active>a,
.navbar .nav>.active>a:hover,
.navbar .nav>.active>a:focus {
  color: #555555;
  text-decoration: none;
  background-color: #e5e5e5;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

.navbar .btn-navbar {
  display: none;
  float: right;
  padding: 7px 10px;
  margin-left: 5px;
  margin-right: 5px;
  color: #ffffff;
}

.navbar .btn-navbar:hover,
.navbar .btn-navbar:focus,
.navbar .btn-navbar:active {
  color: #ffffff;
  background-color: #e5e5e5;
  *background-color: #d9d9d9;
}

.navbar .btn-navbar:active {
  background-color: #cccccc \9;
}

.navbar-inverse .navbar-search .search-query:-moz-placeholder {
  color: #cccccc;
}

.navbar-inverse .navbar-search .search-query:-ms-input-placeholder {
  color: #cccccc;
}

.breadcrumb {
  padding: 8px 15px;
  margin: 0 0 20px;
  list-style: none;
  background-color: #f5f5f5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.breadcrumb>li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-shadow: 0 1px 0 #ffffff;
}

.pull-left {
  float: left;
}

.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

.visible-phone {
  display: none !important;
}

.hidden-desktop {
  display: none !important;
}

@media (min-width:768px) and (max-width:979px) {
  .hidden-desktop {
    display: inherit !important;
  }
}

@media (max-width:767px) {
  .hidden-desktop {
    display: inherit !important;
  }

  .visible-phone {
    display: inherit !important;
  }

  .hidden-phone {
    display: none !important;
  }
}

@media (max-width:767px) {
  body {
    padding-left: 20px;
    padding-right: 20px;
  }

  .navbar-fixed-top {
    margin-left: -20px;
    margin-right: -20px;
  }

  .container {
    width: auto;
  }

  .row-fluid {
    width: 100%;
  }

  [class*="span"],
  .row-fluid [class*="span"] {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .span12,
  .row-fluid .span12 {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

@media (max-width:480px) {
  .nav-collapse {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@media (min-width:768px) and (max-width:979px) {
  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 20px;
  }

  .container,
  .navbar-fixed-top .container {
    width: 724px;
  }

  .span12 {
    width: 724px;
  }

  .row-fluid {
    width: 100%;
    *zoom: 1;
  }

  .row-fluid:before,
  .row-fluid:after {
    display: table;
    content: "";
    line-height: 0;
  }

  .row-fluid:after {
    clear: both;
  }

  .row-fluid [class*="span"] {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 2.7624309392265194%;
    *margin-left: 2.709239449864817%;
  }

  .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }

  .row-fluid .span12 {
    width: 100%;
    *width: 99.94680851063829%;
  }
}

@media (min-width:1200px) {
  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 30px;
  }

  .container,
  .navbar-fixed-top .container {
    width: 1170px;
  }

  .span12 {
    width: 1170px;
  }

  .row-fluid {
    width: 100%;
    *zoom: 1;
  }

  .row-fluid:before,
  .row-fluid:after {
    display: table;
    content: "";
    line-height: 0;
  }

  .row-fluid:after {
    clear: both;
  }

  .row-fluid [class*="span"] {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 2.564102564102564%;
    *margin-left: 2.5109110747408616%;
  }

  .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }

  .row-fluid .span12 {
    width: 100%;
    *width: 99.94680851063829%;
  }
}

@media (max-width:979px) {
  body {
    padding-top: 0;
  }

  .navbar-fixed-top {
    position: static;
  }

  .navbar-fixed-top {
    margin-bottom: 20px;
  }

  .navbar-fixed-top .navbar-inner {
    padding: 5px;
  }

  .navbar .container {
    width: auto;
    padding: 0;
  }

  .nav-collapse {
    clear: both;
  }

  .nav-collapse .nav {
    float: none;
    margin: 0 0 10px;
  }

  .nav-collapse .nav>li {
    float: none;
  }

  .nav-collapse .nav>li>a {
    margin-bottom: 2px;
  }

  .nav-collapse .nav>li>a {
    padding: 9px 15px;
    font-weight: bold;
    color: #777777;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

  .nav-collapse .nav>li>a:hover,
  .nav-collapse .nav>li>a:focus {
    background-color: #f2f2f2;
  }

  .nav-collapse,
  .nav-collapse.collapse {
    overflow: hidden;
    height: 0;
  }

  .navbar .btn-navbar {
    display: block;
  }
}

@media (min-width:980px) {
  .nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
  }
}

body,
body h1,
body h2,
body h3 {
  line-height: 1.25em;
}

@media (max-width:767px) {
  body {
    position: relative;
  }
}

@media (min-width:980px) and (max-width:1199px), (min-width:1200px) {
  body {
    padding-top: 60px;
  }
}

.footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #e5e5e5;
}

.element-invisible {
  margin: 0;
  padding: 0;
  width: 1px;
}

.navbar .logo {
  margin-top: 5px;
  margin-right: 10px;
}

.page-header {
  margin-top: 0;
}

.block h2.block-title {
  margin-top: 0;
  font-weight: bold;
}

/*@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("/fonts/ProximaNova-Regular.eot");
  src: local('☺'), url("/fonts/ProximaNova-Regular.woff") format('woff'), url("/fonts/ProximaNova-Regular.ttf") format('truetype'), url("/fonts/ProximaNova-Regular.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}*/

html {
  -webkit-font-smoothing: subpixel-antialiased;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a:focus {
  outline: none;
  text-decoration: none;
}

.clear {
  clear: both;
}

body {
  font-family: arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #424242;
  font-size: 16px;
  line-height: 28px;
  color: #424242;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}



#main-container {
  width: 1000px;
}

h1.page-header {
  color: #141414;
  font-size: 28px;
}

h2 {
  text-transform: uppercase;
  font-family: arial, sans-serif;
  font-size: 18px;
  color: #F9A825;
}

.navbar-inner {
  border: 0;
  background: transparent;
}

.navbar-fixed-top .navbar-inner {
  border: 0;
  background: #FAFAFA;
}

#first-time {
  display: none;
}

.not-front #main-container {
  padding-left: 40px;
  padding-right: 31px;
  max-width: 790px;
}

#home {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 0;
  left: 50%;
}

#block-block-1 {
  height: 45px;
  float: right;
  transition: all .2s linear;
  -o-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
  margin-right: 31px;
}

#block-block-1 p {
  margin: 0;
  float: right;
  height: 29px;
  line-height: 29px;
}

#block-block-1 .block-content a {
  display: block;
  float: left;
  color: #424242;
  height: 20px;
  line-height: 20px;
  margin-top: 12px !important;
  font-size: 14px;
}

#block-block-1 .block-content a:hover {
  color: #ffe0b8;
  color: #F9A825;
}

#block-block-1 .block-content a:focus {
  color: #424242;
}

a.tel {
  /*background-image: url("/dist/img/tel.png");*/
  background-repeat: no-repeat;
  background-position: top left;
  padding-left: 20px;
  margin-right: 31px;
  text-decoration: none !important;
}

a.tel:hover {
  background-position: bottom left;
}

a.mail,
a.mail:focus {
  padding-left: 31px;
  margin-right: 31px;
  color: #424242 !important;
  text-decoration: none !important;
}

a.mail:hover {
  text-decoration: underline !important;
  color: #424242 !important;
}

a.equipe {
  color: #424242 !important;
  text-decoration: none !important;
}

a.equipe:hover {
  text-decoration: underline !important;
  color: #424242 !important;
}

#block-block-1 span {
  display: block;
  float: left;
  color: #424242;
  height: 20px;
  line-height: 20px;
  margin-top: 12px;
  margin-right: 15px;
  font-size: 14px;
}

#block-block-1 span.tel {
  margin-right: 0px;
  margin-top: 12px !important;
}

a.test-ab {
  margin-right: 31px;
}

a.participez-tests,
a.test-ab,
a.participez-tests:hover,
a.test-ab:hover {
  text-decoration: underline;
}

.navbar .logo {
  width: 87px;
  height: 80px;
  margin-top: 10px;
  margin-left: 30px;
  display: block;
  transition: all .2s linear;
  -o-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
}



#block-block-3,
#block-block-5,
#block-block-7 {
  float: right;
  margin-right: 27px;
}

#block-block-3 .block-content ul,
#block-block-5 .block-content ul,
#block-block-7 .block-content ul {
  margin: 0;
  padding: 0;
}

#block-block-3 .block-content ul  li,
#block-block-5 .block-content ul  li,
#block-block-7 .block-content ul  li {
  display: block;
  float: left;
  line-height: 55px;
  height: 55px;
  margin: 0 0 0 20px;
  padding: 0;
}

#block-block-3 .block-content ul  li  a,
#block-block-5 .block-content ul  li  a,
#block-block-7 .block-content ul  li  a {
  text-transform: uppercase;
  color: #424242;
  font-family: arial, sans-serif;
  font-size: 17px;
  letter-spacing: 0;
  transition: all .2s linear;
  -o-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
}

#block-block-3 .block-content ul  li  a:hover,
#block-block-5 .block-content ul  li  a:hover,
#block-block-7 .block-content ul  li  a:hover {
  text-decoration: none;
  color: #F9A825;
}

#block-block-3 .block-content ul  li.active a,
#block-block-5 .block-content ul  li.active a,
#block-block-7 .block-content ul  li.active a {
  text-decoration: none;
  color: #F9A825;
}

.navbar .nav>.active>a,
.navbar .nav>.active>a:hover,
.navbar .nav>.active>a:focus {
  color: #F9A825;
  text-decoration: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.navbar .nav>li>a {
  text-shadow: none;
}

#block-block-3 .block-content ul  li:last-child  a,
#block-block-5 .block-content ul  li:last-child  a,
#block-block-7 .block-content ul  li:last-child  a {
  padding-right: 0;
}

.main-container {
  padding-top: 68px;
}

#block-locale-language {
  clear: none;
  float: right;
  width: 125px;
  height: 45px;
  transition: all .2s linear;
  -o-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
}



#block-locale-language .block-content ul {
  margin: 16px 0px 0px 0px;
  padding: 0;
  list-style: none;
}

#block-locale-language .block-content ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  float: left;
  line-height: 12px;
}

#block-locale-language .block-content ul li a {
  display: block;
  padding-right: 7px;
  margin-right: 7px;
  color: #424242;
  font-size: 16px;
  font-family: arial, sans-serif;
  font-weight: normal;
  text-decoration: none;
  border-right: 2px solid rgba(246, 245, 244, 0);
  padding-top: 1px;
}

#block-locale-language .block-content ul li.fr a:hover,
#block-locale-language .block-content ul li.fr.active a {
  color: #F9A825;
}

#block-locale-language .block-content ul li.en a {
  border-right: 0;
  margin-right: 0;
  padding-right: 0;
}

#block-locale-language .block-content ul li.en a:hover,
#block-locale-language .block-content ul li.en.active a {
  color: #F9A825;
}

#block-locale-language .block-content ul li.de a:hover,
#block-locale-language .block-content ul li.de.active a {
  color: #F9A825;
}

h1.grand-titre {
  font-size: 44px;
  font-style: italic;
  color: #223036;
  text-shadow: 0px 0px 10px rgba(255, 255, 207, 1);
  font-family: arial, sans-serif;
  font-weight: normal;
  margin-left: 119px;
  transition: all .2s linear;
  -o-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
}

#block-views-intro-block,
#block-views-intro-block-1,
#block-views-intro-block-2 {
  padding: 0px 0 0 29px;
  width: 100%;
  height: 280px;
}

.intro {
  width: 408px;
  height: 302px;
  padding-top: 45px;
  font-family: arial, sans-serif;
  font-size: 21px;
  line-height: 28px;
  color: #223036;
  transition: all .2s linear;
  -o-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
}

.intro p span {
  color: #141414;
  font-size: 26px !important;
  padding: 0;
  margin: 0 0 10px 0;
  line-height: 16px;
  color: #000;
  background: #fff;
}

.intro p span:before {
  display: block;
  content: "";
  background: transparent;
  padding-bottom: 8px;
}

.intro p span:first-child:before {
  display: inline;
}

.intro p span:first-child {
  padding: 1px 0;
}

.intro p {
  margin-bottom: 10px;
}


.intro .star {
  font-style: normal;
  font-size: 30px !important;
  padding-left: 5px;
}

.caption {
  width: 100%;
  display: block;
  text-align: right;
  color: #fff;
  font-size: 10px;
  padding-right: 22px;
  float: left;
  margin-top: -42px;
}

#block-views-competence-block {
  background: #FAFAFA;
  padding-bottom: 45px;
  margin-top: 32px;
}

#block-views-client-block,
#block-views-equipe-block,
#block-views-partenaires-reseaux-block,
#block-block-4,
#block-block-6 {
  background: #FAFAFA url("/dist/img/uv-section-separator.jpg") repeat-x top left;
  padding-top: 30px;
  padding-bottom: 45px;
}

#block-views-partenaires-reseaux-block {
  padding-bottom: 45px;
}

#block-views-competence-block .field-item.even img {
  width: 65px;
  height: 65px;
}

#block-views-competence-block h3 {
  color: #424242;
  font-size: 18px;
  line-height: 28px;
  font-weight: lighter;
  text-transform: none;
  padding: 10px 29px 20px 29px;
  text-align: justify;
}

.view-competence {
  margin-left: 40px;
  margin-top: 10px;
}

.view-competence .views-row {
  clear: both;
}

.view-competence .views-row .views-column {
  width: 400px;
  float: left;
}

.view-competence .views-row .views-column-1 {
  margin-right: 70px;
}

.view-competence h2 {
  font-size: 18px;
  padding-top: 8px;
  text-transform: none;
  color: #424242;
  font-weight: 600;
}

.view-competence .field-name-field-icone {
  float: left;
  margin-right: 15px;
}

.view-competence .titre {
  float: left;
  width: 275px;
}

.view-competence .field-name-body {
  clear: both;
}

#block-views-client-block h2 {
  padding-left: 40px;
}

.view-client {
  margin-top: 0px;
}

.view-client .views-row {
  clear: both;
  padding: 0 40px 20px;
}

.view-client .views-row-first {
  padding-bottom: 20px;
}

.view-client .views-column {
  margin-top: 50px;
  width: 25%;
  float: left;
  line-height: 70px;
  height: 70px;
}

.view-client .views-column-1,
.view-client .views-column-4 {
  width: 23%;
}

.view-client .views-column-2 {
  margin-right: 4%;
}

.view-client .views-column .node {
  text-align: center;
}

.view-client .views-column-1 .node {
  text-align: left;
}

.view-client .views-column-4 .node {
  text-align: right;
}

.view-client {
  display: block;
  overflow: hidden;
  padding-bottom: 40px;
}

#block-views-equipe-block h2 {
  padding-left: 40px;
}

.view-equipe {
  margin-top: 30px;
  padding: 0 20px;
}

.view-equipe .views-row .views-column {
  width: 33.3%;
  float: left;
  padding: 0 20px;
}

.view-equipe .field-name-field-photo-equipe .field-item {
  width: 100%;
  text-align: center;
}

.view-equipe .field-name-field-photo-equipe .field-item img {
  width: 100%;
  max-width: 150px;
  display: inline-block;
}

.view-equipe .field-name-field-fonction2 {
  min-height: 56px;
  margin-left: -5%;
  width: 110%;
}

.view-equipe .field-name-field-fonction2 p {
  margin-bottom: 0;
}

.view-equipe .titre {
  float: left;
  width: 100%;
  text-align: center;
  padding: 0 5px;
  padding: 0;
}

.view-equipe h3 {
  color: #141414;
  font-size: 18px;
}

.view-equipe .field-name-body {
  padding-top: 15px;
  clear: both;
  margin-bottom: 20px;
}

.view-equipe .field-name-body p {
  line-height: 1.4;
  text-align: left !important;
}

.view-equipe .email {
  word-wrap: break-word;
  line-height: 16px;
  margin-top: 5px;
}

.texte-intro {
  padding-top: 30px;
  padding-left: 40px;
  clear: both;
  margin-right: 20px;
}

.texte-intro strong p {
  font-weight: normal;
}

#block-views-partenaires-reseaux-block h2 {
  padding-left: 40px;
}

.view-partenaires-reseaux {
  margin-top: 20px;
}

.view-partenaires-reseaux .views-row {
  clear: both;
  padding: 0 62px;
}

.view-partenaires-reseaux .views-column {
  width: 25%;
  float: left;
  line-height: 70px;
  height: 70px;
  margin-top: 50px;
}

.view-partenaires-reseaux .views-column-1 {
  text-align: left;
}

.view-partenaires-reseaux .views-column-2,
.view-partenaires-reseaux .views-column-3 {
  text-align: center;
}

.view-partenaires-reseaux .views-column-4 {
  text-align: right;
}

.view-partenaires-reseaux .views-column img {
  max-width: 70%;
}

#footer-container {
  width: 100%;
  background: #616161;
  margin-top: 40px;
}

#footer-container .region.region-footer {
  width: 1000px;
  margin: 0 auto;
}

.footer {
  margin-top: 0px;
  padding: 0;
  border-top: 0;
}

#block-block-4,
#block-block-6,
#block-block-8 {
  padding-top: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  background: #3e8aa7;
  background: #616161;
}

.logo-color {
  margin-left: 31px;
  float: left;
  margin-top: 30px;
  display: none;
}

.liens-footer {
  float: left;
  margin-top: 18px;
}

.liens-footer span {
  color: #ffffff;
  display: block;
  height: 20px;
  line-height: 20px;
  margin-top: 12px;
  margin-bottom: 5px;
  font-size: 16px;
}

.liens-footer strong {
  color: #ffffff;
  display: block;
  line-height: 20px;
  margin-top: 12px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: normal;
}

.liens-footer a {
  display: block;
  color: #ffffff;
  line-height: 20px;
  margin-top: 12px;
  margin-bottom: 20px;
  font-size: 16px;
  text-decoration: underline;
}

.liens-footer a:hover {
  text-decoration: underline;
}

.liens-footer a:focus {
  color: #ffffff;
}

.liens-footer a {
  display: block;
  float: none;
}

.liens-footer a.tel {
  color: #cecece;
  cursor: default;
}

.liens-footer a.mail {
  padding-left: 0px;
  color: #fff !important;
  margin-bottom: 14px;
  font-size: 16px !important;
}

.liens-footer a.mail:hover {
  color: #fff !important;
}

.liens-footer a.mail.hidden-mail {
  display: none;
}

.liens-footer a img {
  width: 30px!important;
  height: 30px !important;
}

.address {
  float: left;
  margin-left: 17.5%;
  color: #ffffff;
  font-size: 18px;
  margin-top: 24px;
}

.address address {
  line-height: 32px;
  color: #ffffff;
  font-size: 16px;
}

.liens-footer,
.address {
  padding-left: 30px;
  padding-right: 30px;
  width: 25%;
  margin-left: 0;
  margin-right: 0;
}

.back-to-top-inner.visible-phone .liens-footer,
.back-to-top-inner.visible-phone .address {
  width: 100% !important;
}

.remonter {
  margin-right: 20px;
  float: right;
  margin-top: 0px;
  display: none;
}

a.back-to-top {
  text-decoration: none;
  color: #424242;
  background: #cecece;
  height: 35px;
  line-height: 35px;
  display: block;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  font-size: 16px;
  padding: 0 15px;
  float: right;
}

a.back-to-top:hover {
  text-decoration: none;
  background: #ecae4f;
}

.signature {
  float: none;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
  color: #ffffff;
  font-size: 14px;
  font-family: arial, sans-serif;
}

body.new-page-type .row-inner .span12 {
  position: relative;
}

body.new-page-type #block-block-1 {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 0;
  font-size: 16px;
}

body.new-page-type #block-block-1 span.tel {
  margin-top: 4px !important;
  font-size: 16px;
}

body.new-page-type #block-block-1 .mail {
  margin-right: 0;
}

body.new-page-type #breadcrumb {
  margin-top: 30px;
  font-size: 16px;
}

@media screen and (max-width:1000px) {
  #footer-container,
  #footer-container .region.region-footer {
    width: auto;
  }
}

@media screen and (max-width:990px) {
  .address {
    margin-left: 16%;
  }
}

@media (min-width:980px) {
  body {
    background: #FAFAFA url("/dist/img/uv-cover-image.jpg") no-repeat 50% -22px;
    overflow-x: hidden;
  }

  body.not-front {
    background: #FAFAFA;
  }

  .container,
  .navbar-fixed-top .container {
    width: 1000px;
  }

  .navbar-fixed-top {
    background: #FAFAFA;
  }

  .navbar-fixed-top .container {
    background: #FAFAFA;
    height: 116px;
    margin-top: 0px;
  }

  .i18n-de .intro {
    width: 550px;
  }

  .i18n-fr .intro {
    width: 550px;
  }

  .i18n-en .intro {
    width: 550px;
  }

  .view-competence .views-row .views-column-1 {
    margin-right: 120px;
  }

  .view-competence .views-row-2 .views-column {
    margin-top: 30px;
  }

  .view-competence .views-row-3 .views-column {
    margin-top: 30px;
  }
}

@media screen and (max-width:768px) {
  #block-locale-language {
    width: 145px;
  }
}

@media screen and (max-width:700px) {
  body.new-page-type .sub-footer p {
    width: 100% !important;
  }
}

@media (min-width:481px) and  (max-width:979px) {
  body {
    padding-top: 60px;
  }

  .front .navbar .btn-navbar {
    display: none;
  }

  .front .nav-collapse,
  .front  .nav-collapse.collapse {
    overflow: visible;
    height: auto;
    clear: none;
  }

  .front .navbar-fixed-top .navbar-inner {
    padding: 0px;
  }

  .front .nav-collapse .nav>li>a {
    padding: 6px 4px;
    font-weight: normal;
    color: #777777;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }

  .front .nav-collapse .nav>li>a:hover {
    background: transparent;
  }

  .front .navbar-fixed-top {
    background: #FAFAFA;
  }

  .front .navbar-fixed-top .container {
    background: #FAFAFA;
    height: auto;
  }

  .front .nav-collapse,
  .front .nav-collapse.collapse {
    clear: both;
  }



  .front #block-block-1 {
    float: right;
    margin-right: 29px;
  }

  .front a.mail {
    margin-right: 0;
  }

  .front #block-block-1 p {
    float: none;
  }

  .front #block-block-3,
  .front #block-block-5,
  .front #block-block-7 {
    float: right;
  }

  .front #main-container {
    width: auto;
    /*background: url("/dist/img/uv-cover-image.jpg") no-repeat top left;*/
    background-size: contain;
  }

  .front .navbar .logo.pull-left {
    float: left;
  }

  .front .view-competence {
    margin-left: 0;
    padding-left: 29px;
    padding-right: 35px;
  }

  .front .view-competence .titre {
    float: left;
  }

  .front .view-competence .views-row .views-column {
    width: auto;
    float: none;
  }

  .front .view-competence .views-row .views-column-1 {
    margin-right: 0;
  }

  .front .view-competence .views-row .views-column {
    margin-bottom: 20px;
  }

  .front .texte-intro {
    padding-left: 30px;
  }

  .front #main-container {
    width: auto;
  }

  .front #block-block-3 .block-content ul li a,
  #block-block-5 .block-content ul li a,
  #block-block-7 .block-content ul li a {
    font-size: 14px;
  }

  .front .container,
  .front .navbar-fixed-top .container,
  #footer-container,
  #footer-container .region.region-footer {
    width: auto;
  }

  .front .navbar-fixed-top {
    position: fixed;
  }

  .front .nav-collapse .nav > li > a:hover,
  .front .nav-collapse .nav > li > a:focus {
    background-color: transparent;
  }
}

@media (min-width:768px) and (max-width:979px) {
  body.front {
    background: #FAFAFA;
  }

  .front #main-container {
    width: auto;
    /*background: url("/dist/img/uv-cover-image.jpg") no-repeat top left;*/
    background-size: contain;
  }

  .front .navbar .logo {
    width: 40px;
    height: 50px;
    margin-bottom: 0px;
    margin-top: 0;
    width: 72px;
    height: 65px;
    margin-top: -20px;
  }

  .front h1.grand-titre {
    margin-left: 119px;
    font-size: 30px;
  }

  .front .intro {
    height: auto;
    width: 345px;
    width: auto;
    max-width: auto;
  }

  .front .intro p {
    margin-bottom: 10px;
  }

  .front .intro p span:before {
    padding-bottom: 22px;
  }

  .front .intro p:last-child {
    width: 245px;
    width: auto;
  }



  .front a.mail {
    margin-right: 22px;
  }

  .front .view-competence {
    padding-left: 65px;
    padding-right: 65px;
  }

  .front .view-competence .titre {
    width: auto;
  }

  .front #block-views-client-block {
    padding-left: 30px;
  }

  .front #block-views-equipe-block {
    padding-left: 35px;
    padding-right: 30px;
  }

  .front #block-views-partenaires-reseaux-block h2 {
    padding-left: 60px;
  }

  .front .view-equipe .field-name-body {
    text-align: justify;
  }

  .front #block-views-intro-block,
  .front #block-views-intro-block-1,
  #block-views-intro-block-2 {
    width: auto;
    padding: 0;
    height: auto;
  }

  .front h1.grand-titre,
  .intro {
    padding-left: 29px;
  }

  .front .view-intro p:last-child {
    margin-bottom: 0;
    line-height: 0;
  }

  .front .view-partenaires-reseaux .views-column img {
    max-width: 70%;
  }

  .intro {
    padding-bottom: 45px;
    padding-top: 15px;
  }

  .caption {
    margin-top: 20px;
    margin-bottom: -30px;
  }

  #block-views-competence-block h3 {
    padding-right: 29px;
  }

  .front .view-client .views-row {
    clear: both;
    padding: 0 60px 20px 30px;
  }

  .liens-footer,
  .address {
    width: 25%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .footer .block-content {
    padding-left: 10px;
    padding-right: 0;
  }
}

@media (min-width:768px) and (max-width:840px) {
  .front .intro {
    font-size: 15px;
    line-height: 1.4em;
  }
}

@media (min-width:481px) and (max-width:767px) {
  body.front {
    padding: 60px 0 0 0;
    margin: 0;
    background: #FAFAFA;
  }

  .navbar-fixed-top .container {
    padding-left: 29px;
  }

  .front .logo.visible-phone {
    text-align: center;
    float: left;
    margin-left: 29px;
  }

  .front .logo.visible-phone {
    width: 150px;
    height: 30px;
    background: url('/dist/img/uv-logo-mobile.png') no-repeat top left;
    background-size: 150px 30px;
    display: block;
    background-size: 100%;
  }

  .front .logo.visible-phone img {
    display: none;
  }

  .front h1.grand-titre {
    font-size: 22px;
    color: #223036;
    font-family: arial, sans-serif;
    margin: 220px 0 20px 0;
    text-align: center;
  }

  #block-block-3,
  #block-block-5,
  #block-block-7 {
    margin-right: 53px;
  }

  #block-block-3 .block-content ul li,
  #block-block-5 .block-content ul li,
  #block-block-7 .block-content ul li {
    margin-left: 7px;
  }

  #block-views-competence-block {
    margin-top: 5px;
  }

  #block-views-intro-block,
  #block-views-intro-block-1,
  #block-views-intro-block-2 {
    clear: both;
    width: auto;
    margin: 0;
    padding: 0;
    height: auto;
  }

  .intro {
    width: auto;
    font-size: 16px;
    height: auto;
    margin-top: 0px;
    text-align: center;
    padding-top: 0px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .intro p {
    width: auto;
    font-size: 16px;
    height: auto;
  }

  .intro p:first-child {
    padding-top: 0px;
  }

  .intro p:last-child {
    width: auto;
    font-size: 16px;
  }

  .caption {
    margin-top: -25px;
  }

  .view-competence {
    padding-left: 29px;
    padding-right: 35px;
    margin: 0;
  }

  .view-competence .views-row .views-column-1 {
    margin-right: 0px;
  }

  .view-competence .titre {
    float: none;
    width: auto;
  }

  #block-block-4,
  #block-block-6,
  #block-block-8 {
    background: F9B11E;
  }

  .view-equipe .titre {
    width: 230px;
  }

  .view-equipe .titre {
    max-width: 800px;
    float: none;
    width: auto;
  }

  .view-equipe .views-row .views-column {
    padding: 0 10px;
  }

  .logo-color,
  .liens-footer,
  .remonter,
  .address {
    float: none;
    font-size: 14px;
    margin: 20px 0px 0px 0px;
  }

  .logo-color {
    margin-bottom: 20px;
    padding-top: 22px;
    margin-top: 20px;
    margin-left: -50px;
  }

  .address address {
    font-size: 14px;
    line-height: 26px;
  }

  a.tel {
    float: none;
    cursor: pointer;
  }

  #block-block-1 .block-content a.mail {
    margin-right: 23px;
  }

  .liens-footer a {
    float: none;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 6px 0 0 26px;
    display: inline;
  }

  .liens-footer a.tel.visible-phone {
    display: none !important;
  }

  .liens-footer br {
    display: none;
  }

  .footer-col1 {
    float: none;
    margin-left: 29px;
    margin-right: 90px;
    width: auto;
    margin-top: 30px;
    margin: 0 auto;
    text-align: center;
    margin-top: 35px;
  }

  .footer-col2 {
    float: left;
    margin-top: 30px;
    float: none;
    margin-left: 29px;
    float: none;
    margin: 0 auto;
    text-align: center;
    width: auto;
  }

  .remonter {
    display: none;
  }

  .i18n-fr a.back-to-top {
    width: 142px;
    margin-bottom: 10px;
    font-size: 14px;
  }

  .i18n-en a.back-to-top {
    width: 102px;
    margin-bottom: 10px;
    font-size: 14px;
  }
}

@media screen and (max-width:660px) {
  .caption {
    display: none;
  }

  .intro .star {
    display: none;
  }
}

@media (min-width:481px) and (max-width:530px) {
  #block-block-3 .block-content ul li,
  #block-block-5 .block-content ul li,
  #block-block-7 .block-content ul li {
    margin-left: 2px;
  }

  #block-block-3 .block-content ul li a,
  #block-block-5 .block-content ul li a,
  #block-block-7 .block-content ul li a {
    padding: 6px 2px;
  }

  h1.grand-titre {
    margin-top: 110px;
  }
}

@media (min-width:531px) and (max-width:600px) {
  h1.grand-titre {
    margin-top: 145px;
  }
}

@media screen and (max-width:500px) {
  #block-locale-language {
    width: 145px;
  }
}

@media screen and (max-width:480px) {
  #block-views-competence-block h3 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .intro {
    text-align: left !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .intro p span {
    font-size: 28px !important;
  }

  #block-views-competence-block .field-items p,
  #block-views-competence-block h3,
  #block-views-equipe-block .field-item p {
    text-align: left !important;
  }
}

@media (max-width:480px) {
  body.new-page-type .page-header {
    font-size: 18px;
  }

  body {
    padding: 0;
    margin: 0;
    background: #FAFAFA;
    overflow-x: hidden;
  }

  #block-block-1 {
    float: right;
    background: #FAFAFA;
    height: 53px;
    padding: 0 10px 0 10px;
    margin-right: 0;
  }

  #block-block-1 .block-content a {
    margin-top: 18px !important;
    color: #424242;
    margin-right: 20px;
  }

  .navbar-fixed-top {
    background: #616161;
  }

  .navbar-fixed-top .container {
    background: none;
    height: 53px;
    background: #FAFAFA;
    box-shadow: 0 1px 10px rgba(0,0,0,.1);
  }

  .navbar .btn-navbar {
    display: block;
    float: left;
    background-color: #FAFAFA;
    /*background-image: url("/dist/img/ico-bar-noir.png");
    background-position: 8px 15px;
    background-size: 20px 20px;
    background-repeat: no-repeat;*/
    border-color: none;
    color: #fff;
    margin: 0px 0px 0px 0px;
    padding: 16px 20px 0 0px;
    text-shadow: none;
    display: block;
    border-radius: 0;
    border: 0;
    height: 53px;
    text-transform: uppercase;
    width: 45px;
    font-weight: bold;
    font-family: arial, sans-serif;
    font-size: 18px;
    line-height: 19px;
  }

  .navbar .btn-navbar:hover {
    float: left;
    background-color: #FAFAFA;
    color: #424242;
  }

  .navbar .btn-navbar.collapsed,
  .navbar .btn-navbar.collapsed:hover {
    float: left;
    color: #424242;
  }

  .navbar .btn-navbar,
  .navbar .btn-navbar:focus,
  .navbar .btn-navbar:active {
    float: left;
    color: #cecece;
  }

  .navbar-fixed-top {
    position: fixed;
  }

  .nav-collapse .nav > li > a:hover,
  .nav-collapse .nav > li > a:focus {
    background: transparent;
  }

  a.mail {
    margin-right: 15px;
    float: right;
  }

  a.tel {
    margin-right: 17px;
    padding-left: 0px;
    float: right;
    font-size: 16px !important;
  }

  #block-block-3,
  #block-block-5,
  #block-block-7 {
    width: 400px;
    float: none;
    background: #FAFAFA;
    padding-bottom: 13px;
    border-bottom: 1px solid #9E9E9E;
  }

  #block-block-3 .block-content ul li a,
  #block-block-5 .block-content ul li a,
  #block-block-7 .block-content ul li a {
    color: #424242;
  }

  #block-block-3 ul li:last-child a,
  #block-block-5 ul li:last-child a,
  #block-block-7 ul li:last-child a {
    color: #424242;
  }

  #block-block-3 .block-content ul li,
  #block-block-5 .block-content ul li,
  #block-block-7 .block-content ul li {
    display: block;
    float: none;
  }

  a.logo {
    width: 100%;
    height: 30px;
    float: none;
    margin: 40px 0 0 0;
    text-align: center;
    transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
  }

  #block-locale-language {
    width: 98px;
    margin-right: 5px;
  }

  #block-locale-language .block-content ul {
    margin-top: 21px;
  }

  #block-locale-language .block-content ul li a {
    color: #424242i;
    margin-right: 5px;
    padding-right: 5px;
  }

  #block-views-intro-block,
  #block-views-intro-block-1,
  #block-views-intro-block-2 {
    width: auto;
    clear: both;
  }

  .navbar-fixed-top .navbar-inner {
    padding: 0;
  }

  #navbar,
  #main-container,
  #footer-container {
    margin: 0;
  }

  h1.grand-titre {
    font-size: 22px;
    text-shadow: none;
    color: #223036;
    font-family: arial, sans-serif;
    text-align: center;
    margin-left: 0;
  }

  .intro p:last-child {
    width: auto;
    margin-bottom: 20px;
  }

  #main-container {
    max-width: 480px;
    width: auto;
  }

  .main-container {
    padding-top: 55px;
  }

  #block-views-intro-block,
  #block-views-intro-block-1,
  #block-views-intro-block-2 {
    height: auto;
    padding-left: 0;
    margin-top: 40px;
  }

  .intro {
    font-weight: 500;
    height: auto;
    line-height: 28px;
    text-align: center;
    font-size: 16px;
    width: auto;
    padding: 0 10px;
  }

  #block-views-competence-block {
    margin-top: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .view-competence .field-name-body {
    clear: both;
    text-align: left;
  }

  .view-competence {
    margin-left: 0px;
    margin-top: 0px;
  }

  .view-competence .views-row .views-column {
    width: auto;
    margin-right: 0;
  }

  .front .view-competence .views-row .views-column {
    margin-bottom: 40px;
  }

  .view-competence .field-name-field-icone {
    float: left;
    height: 50px;
    width: 65px;
    margin-bottom: 15px;
  }

  .view-competence .field-name-field-icone  img {
    max-width: 100%;
  }

  .view-competence .titre {
    float: none;
    width: auto;
    padding-top: 0;
  }

  .view-competence h2 {
    padding-top: 0;
    font-size: 16px;
    padding-top: 2px;
    padding-left: 10px;
  }

  #block-views-client-block,
  #block-views-equipe-block,
  #block-views-partenaires-reseaux-block,
  #block-block-4,
  #block-block-6,
  #block-block-8 {
    background: url("/dist/img/uv-section-separator.jpg") no-repeat scroll left top #FAFAFA;
    padding-bottom: 45px;
    padding-top: 15px;
  }

  .view-equipe {
    margin-top: 0px;
  }

  .view-equipe .titre {
    float: none;
    width: auto;
    text-align: left;
  }

  .view-equipe .views-row .views-column {
    width: auto;
    text-align: justify;
  }

  .field-name-field-fonction2 {
    margin-left: 100px;
  }

  .field-name-field-fonction2 p {
    margin-bottom: 0;
  }

  #block-views-client-block h2 {
    padding-left: 20px;
  }

  .view-client {
    margin-top: 10px;
  }

  .view-client .views-column {
    height: auto;
    line-height: 90px;
    text-align: center;
  }

  .view-client .views-row-first {
    padding-bottom: 10px;
  }

  #block-views-equipe-block h2 {
    padding-left: 20px;
  }

  .texte-intro {
    padding-left: 20px;
  }

  .view-equipe .field-name-field-photo-equipe {
    float: left;
    margin-left: 0;
    margin-right: 10px;
    width: 90px;
    height: 90px;
  }

  .view-equipe .views-row .views-column {
    padding: 0;
    margin-top: 40px;
  }

  .view-equipe .field-name-body {
    min-height: 0;
    margin-bottom: 10px;
  }

  #block-views-partenaires-reseaux-block h2 {
    padding-left: 20px;
  }

  .view-partenaires-reseaux {
    margin-top: 20px;
  }

  .view-partenaires-reseaux .views-row {
    clear: none;
    padding: 0;
  }

  .view-partenaires-reseaux .views-column {
    width: 48%;
    margin-top: 20px;
  }

  .view-partenaires-reseaux .views-column-4,
  .view-partenaires-reseaux .views-column-3,
  .view-partenaires-reseaux .views-column-2,
  .view-partenaires-reseaux .views-column-1 {
    text-align: center;
  }

  .view-partenaires-reseaux img {
    max-width: 70%;
  }

  #block-block-4,
  #block-block-6,
  #block-block-8 {
    background: #616161;
  }

  .logo-color,
  .liens-footer,
  .remonter,
  .address {
    float: none;
    font-size: 14px;
    margin: 0;
  }

  .logo-color {
    margin-bottom: 20px;
  }

  .address address {
    font-size: 14px;
    line-height: 26px;
  }

  a.tel {
    float: none;
    cursor: pointer;
  }

  #block-block-1 .block-content a.mail {
    display: none;
  }

  .liens-footer {
    margin-bottom: 20px;
  }

  .liens-footer a,
  .liens-footer a.mail {
    float: none;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 0px;
    padding: 25px 0 5px 0 !important;
    display: inline;
  }

  .liens-footer a.tel.visible-phone {
    display: none !important;
  }

  .liens-footer br {
    display: none;
  }

  .footer-col1 {
    float: none;
    margin-left: 29px;
    margin-right: 90px;
    width: auto;
    margin-top: 30px;
    margin: 0 auto;
    text-align: center;
    margin-top: 35px;
  }

  .footer-col2 {
    float: left;
    margin-top: 30px;
    float: none;
    margin-left: 29px;
    float: none;
    margin: 0 auto;
    text-align: center;
    width: auto;
  }

  .remonter {
    display: none;
  }

  .i18n-fr a.back-to-top {
    width: 142px;
    margin-bottom: 10px;
    font-size: 14px;
  }

  .i18n-en a.back-to-top {
    width: 102px;
    margin-bottom: 10px;
    font-size: 14px;
  }

  .intro p span {
    background: transparent;
    font-size: 16px;
    line-height: 28px;
    color: #223036;
    padding: 0;
    margin: 0 0 20px 0;
  }

  .intro p span:before {
    display: inline;
    content: "";
    background: transparent;
  }

  .intro p span:first-child:before {
    display: inline;
  }

  .front .view-client .views-row .views-column,
  .front .view-partenaires-reseaux .views-column {
    margin-right: 0 !important;
    width: 50% !important;
    margin-top: 5px !important;
  }
}

@media screen and (max-width:360px) {
  #block-block-1 .block-content a {
    margin-right: 5px;
  }

  #block-locale-language {
    width: 90px;
    margin-left: 5px;
  }

  #block-locale-language .block-content ul li a {
    font-size: 16px;
    margin-right: 3px;
    padding-right: 3px;
  }

  #block-block-1 .block-content a {
    font-size: 16px;
  }

  .intro p span {
    font-size: 24px !important;
  }
}

body.new-page-type {
  padding-left: 0px;
  padding-right: 0px;
}

body.new-page-type .field-item p {
  font-size: 16px;
}

body.new-page-type header.navbar {
  display: none;
}

body.new-page-type {
  background: #FAFAFA;
  padding-top: 10px;
}

body.new-page-type.not-front #main-container {
  padding: 10px 20px;
}

body.new-page-type .breadcrumb {
  cursor: pointer;
  margin: 0 0 20px;
  padding: 10px 0 0 100px;
  background-image: url('/dist/img/uv-logo-landing-page.png');
  background-repeat: no-repeat;
  background-position: 0 5px;
  background-size: 80px 80px;
  background-color: #FAFAFA;
  width: 100px;
  height: 85px;
}

body.new-page-type .breadcrumb a {
  display: none;
}

body.new-page-type .breadcrumb a:hover {
  text-decoration: underline;
}

body.new-page-type a {
  color: #424242;
  text-decoration: underline;
  /*transition: all .2s linear;
  -o-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;*/
}

body.new-page-type a:hover {
  color: #F9A825;
  text-decoration: none;
}

body.new-page-type .liens-footer a:hover {
  text-decoration: underline;
}

body.new-page-type .liens-footer a {
  color: #fff;
  transition: none;
  -o-transition: none;
  -moz-transition: none;
  -webkit-transition: none;
  margin-right: 0px;
}

body.new-page-type a.logo.visible-phone {
  display: none !important;
}

body.new-page-type a.back-to-top:hover {
  color: #424242;
  transition: none;
  -o-transition: none;
  -moz-transition: none;
  -webkit-transition: none;
}

body.new-page-type .logo {
  display: none;
  display: none !important;
}

body.new-page-type #main-container {
  width: auto;
}

.breadcrumb>li {
  margin-top: 60px;
}

@media (max-width:480px) {
  body.new-page-type .breadcrumb {
    padding: 10px 0 0 85px;
    font-size: 11px;
  }
}

body.new-page-type .page-header {
  border: 0;
  margin-bottom: 0px;
}

body.new-page-type p img {
  height: auto !important;
}

body.new-page-type .field ul {
  line-height: 28px;
  margin: 0 0 0 25px;
  list-style-image: url("/dist/img/check-list-test.png");
}

body.new-page-type .field ul li {
  line-height: 28px;
  margin-bottom: 10px;
  font-size: 16px;
}

body.new-page-type .sub-footer {
  border-top: 1px solid #acacac;
  padding-top: 40px;
}

body.new-page-type .sub-footer p {
  float: left;
  display: inline;
  width: 72%;
}

body.new-page-type .sub-footer.no-image p {
  width: 100% !important;
}

body.new-page-type .field-name-body a[href^="mailto"] {
  color: #424242 !important;
  text-decoration: none;
}

body.new-page-type .field-name-body a[href^="mailto"]:hover {
  text-decoration: underline;
}

@media screen and (max-width:767px) {
  .front .main-container {
    background-size: 140% !important;
  }

  .front .view-client .views-row .views-column,
  .front .view-partenaires-reseaux .views-column {
    margin-right: 0 !important;
    width: 50% !important;
    margin-top: 25px;
  }

  .front .view-client .views-column .node,
  .front .view-partenaires-reseaux .views-column {
    text-align: center !important;
  }

  .front .view-client .views-column img,
  .front .view-partenaires-reseaux .views-column img {
    max-width: 70%;
  }

  .front .view-client .views-column img {
    max-width: 65%;
  }

  #block-block-1 .block-content a:hover,
  #block-block-1 .block-content a:focus {
    color: #424242 !important;
    text-decoration: none !important;
  }

  #block-block-1 a.tel:hover {
    background-position: top left;
  }

  body.new-page-type #block-block-1 {
    background: transparent;
    padding-right: 0;
  }

  body.new-page-type #block-block-1 p {
    height: auto;
    text-align: right;
    max-width: 180px;
  }

  body.new-page-type #block-block-1 a.mail {
    padding-left: 10px;
    margin-top: 5px;
    display: block;
  }

  body.new-page-type #block-block-1 a.tel {
    display: inline-block !important;
    margin-right: 0;
    padding-left: 20px;
    transition: none;
    -o-transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    line-height: 20px;
    margin-top: 0 !important;
  }

  body.new-page-type #block-block-1 a.tel:hover {
    color: #424242;
    background-position: top left;
  }
}